@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    background: linear-gradient(45deg, #4158d0, #c850c0);
}
.items {
    display: flex;
    justify-content: center;
}
.card-body {
    width:750px;
    margin: 120px auto;
    padding:20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}
table {
    padding: 20px;
    border-collapse: collapse;
    background: #f5f7ff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 20px auto;
    text-align: left;
}
tr {
    height: 50px;
    font-family: 'Poppins';
    font-size: 14px;
    margin-left: 20px;
    padding-left: 15px;
}
td{
    padding-left: 15px;
    font-family: 'Poppins';
    font-size: 14px;
    margin-left: 20px;
}
h1{
    padding: 10px;
    font-family: 'Poppins';
    text-align: center;
    font-weight: bold;
}
.message {
    color: rgb(154, 70, 145);
    font-family: 'Poppins';
    font-weight: bold;
}
.button {
    border: 0px;
    width: 80px;
    height: 40px;
    background-color: #52ae42;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px rgba(145, 145, 145, 0.75);
}
.button:hover {
    background-color: #2c2c2c;
}