@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    background: linear-gradient(45deg, #4158d0, #c850c0);
}
.items {
    display: flex;
    justify-content: center;
}
.card-body {
        width:800px;
        margin: 80px auto;
        padding:20px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}
.card {
    box-shadow: 0 10px 8px 5px rgba(0,0,0,0.2);
    background-color: rgb(255, 254, 255);
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px;
    margin-top: 15px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 #4158d0;
    background-color: #eef1fe;
}
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #000000;
    font-family: 'Poppins';
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.topnav a:hover {
    background-color: #2c2c2c;
    color: rgb(255, 255, 255);
}
.topnav a.active {
    background-color: #31a5ab;
    color: white;
}
.task-title{
    padding-left: 20px;
    font-family: 'Poppins';
    font-size: 20px;
}
.task-title-done{
    padding-left: 20px;
    font-family: 'Poppins';
    font-size: 20px;
    text-decoration: line-through;
}
.task-desc{
    padding-left: 20px;
    font-family: 'Poppins';
    font-size: 14px;
}
.task-date{
    padding-left: 20px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: lighter;
}
.task-button {
    display: flex;
    position: relative;
    justify-content: right;
}
h1 {
    text-align: center;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 28px;
}
h2 {
    text-align: center;
    padding: 10px;
    font-family: 'Poppins';
    line-height: 10px;
    font-size: 20px;
}
a {
    color: #fff;
    padding: 5px;
}
.message {
    text-align: center;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 15px;
}
.button2 {
    border: 0px;
    width: 80px;
    background-color: #52ae42;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px rgba(145, 145, 145, 0.75);
}
.button3 {
    border: 0px;
    width: 80px;
    background-color: #b73737;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px rgba(145, 145, 145, 0.75);
}
.button1:hover {
    background-color: #2c2c2c;
}
.button2:hover {
    background-color: #2c2c2c;
}
.button3:hover {
    background-color: #2c2c2c;
}